* {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 3%;
}

#chat {
  max-width: 600px;
}

.messages {
  height: 300px;
  overflow: auto;
}

.messages, input, button {
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 10px;
}

button {
  background-color: #10b684;
  color: #fff;
  cursor: pointer;
  transition: 0.7s;
}

button:hover {
  opacity: 0.5;
}

.message {
  margin-bottom: 25px;
}
.message:nth-child(even) {
  text-align: right;
}
